body {
	margin: 0;
}

.rules {
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2vh;
}

.box {
	display: flex;
	height: 83vh;
	width: 100vw;
}

.box_left {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.box_right {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.image {
	width: 50%;
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}